{% extends "blog_base.html" %}
{% block content %}
<style type="text/css">    
    textarea {
        resize: none;
        width: 600px;
        height: 200px;
    }
</style>
<div class = "posts">
    <section class="post">
        <form action={% url 'blog_post_add' %} class="pure-form pure-form-stacked" method="post">     
        <label><h2><a>标题</a></h2></label>
        <input name="title" type="text">                                  
        <label><h2><a>分类</a></h2></label>
        <select name="family_id">
        {% for blogs in blog_list_tag %}
        <option value={{blogs.id}}>{{ blogs.family_name }}</option>
        {% endfor %}
        </select>
        <label><h2><a>内容</a></h2></label>
        <textarea width:400px height:600px name='body'>Be a better me!</textarea>
        <button type="submit"><a>提交</a></button>
        </form>
        <h2><a href="/blog">返回</a></h2>
        <h2><a href="/blog/postlogout/">登出</a></h2>
    </section>
</div>
{% endblock %}
